extend layout

block content
  h1 Chat room
  table.table.table-stripped
    thead
      tr
        td Name
        td Body
    tbody
      each room in rooms
        tr
          td= room.name
          td= room.id